.simply-countdown {
  overflow: hidden;
  /* display: table; */
  font-family: "Arial", sans-serif;
  margin: auto;
  display: flex; /* Mengatur container sebagai flexbox */
  justify-content: center; /* Menyelaraskan elemen secara horizontal di tengah */
  align-items: center; /* Menyelaraskan elemen secara vertikal di tengah */
  flex-wrap: wrap;
}
.simply-countdown > .simply-section {
  width: 50px;
  height: 50px;
  padding: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  float: left;
  margin: 10px;
  background-color: rgb(255, 255, 255);
  clip-path: polygon(
    50% 0%,
    61% 35%,
    98% 35%,
    68% 57%,
    79% 91%,
    50% 70%,
    21% 91%,
    32% 57%,
    2% 35%,
    39% 35%
  );
  color: black;
}
.simply-countdown > .simply-section .simply-amount,
.simply-countdown > .simply-section .simply-word {
  font-size: 1.3rem;
  font-family: "Times New Roman", Times, serif;
  position: relative; /* Mengatur posisi relatif */
  top: -6px; /* Menggeser elemen ke atas */
}

.simply-countdown > .simply-section .simply-amount {
  font-size: 1.3rem;
  font-family: "Times New Roman", Times, serif;
  margin-right: 0.3rem;
}
